version: '3.9'

services:
  redis:
    image: redis:alpine
    container_name: redis-server
    restart: always
    command: ["redis-server", "--requirepass", "rediss"]
    ports:
      - "6379:6379"
    volumes:
      - ./redis-data:/data

volumes:
  redis_data: