fastapi
uvicorn
python-multipart
sqlalchemy
psycopg2-binary
pymysql
alembic
pydantic
pydantic-settings
numpy
pandas
scikit-learn
mlflow
langchain
langchain-core
langchain-community
langchain-openai
openai
chromadb
tiktoken
streamlit
requests
python-dotenv
joblib
rich
faiss